package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.service.IService;
import ${mainPath}.web.common.utils.PageUtils;
import ${package}.${moduleName}.bean.${className};

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    PageUtils queryPage(Map<String, Object> params);
}

