<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.schedule.mapper.SysScheduleInfoMapper">
    <resultMap id="BaseResultMap" type="com.mars.schedule.bean.SysScheduleInfo">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="task_group" jdbcType="VARCHAR" property="taskGroup" />
        <result column="cron" jdbcType="VARCHAR" property="cron" />
        <result column="class_name" jdbcType="VARCHAR" property="className" />
        <result column="method_name" jdbcType="VARCHAR" property="methodName" />
        <result column="params" jdbcType="VARCHAR" property="params" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="trigger_state" jdbcType="VARCHAR" property="triggerState" />
        <result column="next_fire_time" jdbcType="VARCHAR" property="nextFireTime" />
        <result column="prev_fire_time" jdbcType="VARCHAR" property="prevFireTime" />
        <result column="time_zone_id" jdbcType="VARCHAR" property="timeZoneId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, task_name, task_group, cron, class_name, method_name, params, is_start, `status`, `desc`
    </sql>
    <sql id="all_list">
        SELECT
        ID, TASK_NAME, TASK_GROUP, CRON, CLASS_NAME, METHOD_NAME, PARAMS, IS_START, `STATUS`, `DESC`,
        QRTZ_TRIGGERS.TRIGGER_STATE,
        QRTZ_TRIGGERS.NEXT_FIRE_TIME,
        QRTZ_TRIGGERS.PREV_FIRE_TIME,
        QRTZ_CRON_TRIGGERS.TIME_ZONE_ID
        FROM
        SYS_SCHEDULE_INFO
        LEFT JOIN QRTZ_JOB_DETAILS ON SYS_SCHEDULE_INFO.TASK_NAME = QRTZ_JOB_DETAILS.JOB_NAME
        AND SYS_SCHEDULE_INFO.TASK_GROUP = QRTZ_JOB_DETAILS.JOB_GROUP
        LEFT JOIN QRTZ_TRIGGERS ON QRTZ_JOB_DETAILS.SCHED_NAME = QRTZ_TRIGGERS.SCHED_NAME
        AND QRTZ_JOB_DETAILS.JOB_NAME = QRTZ_TRIGGERS.JOB_NAME
        AND QRTZ_JOB_DETAILS.JOB_GROUP = QRTZ_TRIGGERS.JOB_GROUP
        LEFT JOIN QRTZ_CRON_TRIGGERS ON QRTZ_JOB_DETAILS.JOB_NAME = QRTZ_TRIGGERS.JOB_NAME
        AND QRTZ_TRIGGERS.TRIGGER_NAME = QRTZ_CRON_TRIGGERS.TRIGGER_NAME
        AND QRTZ_TRIGGERS.TRIGGER_GROUP = QRTZ_CRON_TRIGGERS.TRIGGER_GROUP
    </sql>
    <select id="list" parameterType="com.mars.schedule.bean.SysScheduleInfo" resultMap="BaseResultMap">
        <include refid="all_list" />
        <where>
            <if test="taskName != null">
                and sys_schedule_info.task_name like concat('%',#{taskName,jdbcType=VARCHAR},'%')
            </if>
            <if test="taskGroup != null">
                and sys_schedule_info.task_group like concat('%',#{taskGroup,jdbcType=VARCHAR},'%')
            </if>
            <if test="className != null">
                and sys_schedule_info.class_name = #{className,jdbcType=VARCHAR}
            </if>
            <if test="methodName != null">
                and sys_schedule_info.method_name = #{methodName,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and sys_schedule_info.`status` = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        <include refid="all_list" />
        where sys_schedule_info.id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="delete" parameterType="java.lang.String">
        delete from sys_schedule_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="save" parameterType="com.mars.schedule.bean.SysScheduleInfo">
        insert into sys_schedule_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskName != null">
                task_name,
            </if>
            <if test="taskGroup != null">
                task_group,
            </if>
            <if test="cron != null">
                cron,
            </if>
            <if test="className != null">
                class_name,
            </if>
            <if test="methodName != null">
                method_name,
            </if>
            <if test="params != null">
                params,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskGroup != null">
                #{taskGroup,jdbcType=VARCHAR},
            </if>
            <if test="cron != null">
                #{cron,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                #{className,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.mars.schedule.bean.SysScheduleInfo">
        update sys_schedule_info
        <set>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskGroup != null">
                task_group = #{taskGroup,jdbcType=VARCHAR},
            </if>
            <if test="cron != null">
                cron = #{cron,jdbcType=VARCHAR},
            </if>
            <if test="className != null">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null">
                method_name = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BIT},
            </if>
            <if test="desc != null">
                `desc` = #{desc,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>